{% extends 'base/main.html' %} {% block header %}
<div class="header-bar">
    <h1>Todo List App</h1>
    <p>Register</p>
</div>

<div class="container">{% endblock header %}{% block content %}


    <form class="form" method="POST">
        {% csrf_token %} {{form.username}}
        <br> {{form.password1}}
        <br> {{form.password2}}
        <br>
        <input type="submit" value="Register">
        <p style="font-size: 10px;">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </form>






    {% endblock content %}